@page
@model Event_application.Pages.VIP_loung.VIP_indexModel
@{
}
<h1>VIP Menu</h1>




<table class="table">
    <thead>
    <tr>
        <th>
            Navn
        </th>
        <th>
            Beskrivelse
        </th>
        <th>
            Pris 
        </th>
        <th>
            billede
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.almindelig)
    {
        <tr>
            <td>
                @item.Navn
            </td>
            <td>
                @item.Beskrivelse
            </td>
            <td>
                @item.Pris
            </td>
            <td>
                @item.Billede
            </td>
            <td>
            </td>
            <td>
                <p>
                  
                </p>
            </td>
        </tr>
    }
    </tbody>
    
</table>

