@page
@model Event_application.Pages.VIP_TilmeldingModel
@{
}

    <p>Er du sikker på at du vil tilmelde dig? </p>

    <form method="post" asp-page-handler="Yes">
        <div class="form-group">
            <input type="submit" value="Ja" />
        </div>
    </form>

    <form method="post" asp-page-handler="No">
        <div class="form-group">
            <input type="submit" value="Nej" />
        </div>
    </form>

