@page
@model Event_application.Pages.VIP_TilmeldingModel
@{
}

<form method="post">

    <p>Er du sikker på at du vil tilmelde dig? </p>


    <input type="submit" value="knap" class="btn btn-primary" />


</form>

