@page
@model Event_application.Pages.VIP_TilmeldingModel
@{
}

<form method="post">



    <p> @Model.bruger</p>


    <p>Er du sikker på at du vil tilmelde dig? </p>


    <input type="submit" value="Ja" class="btn btn-primary" />
    <input type="submit" value="Nej" class="btn btn-primary" />


</form>

