@page
@model Event_application.Pages.Parkering.ParkeringModel
@{
}


<form method="post">

    <p>Her er der en oversigt over alle de ledige parkeringspladser</p>


    <p>Antal ledige pladser @Model.antalfrieppladser</p>
    
    
    <p> Her kan du booke en parkeringsplads</p>


    <input type="submit" value="Book" class="btn btn-primary" />


</form>