@page
@model Event_application.User.LoginModel
@{
}

<form method="post">
    <div class="form-group">
        <input type="text" asp-for="username" placeholder="Brugernavn" />
    </div>
    <div class="form-group">
        <input type="text" asp-for="password" placeholder="Adgangskode" />
    </div>
    <div class="form-group">
        <input type="submit" value="Log in" />
    </div>
</form>
<div class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="NyBruger">Opret Bruger</a>
</div>