@page
@model Event_application.User.NyBrugerModel
@{
}

<form method="post">
    <div class="form-group">
        <a>Fornavn:</a>
        <br />
        <input type="text" asp-for="fornavn" placeholder="Fornavn" />
    </div>
    <div class="form-group">
        <a>Efternavn:</a>
        <br />
        <input type="text" asp-for="efternavn" placeholder="Efternavn" />
    </div>
    <div class="form-group">
        <a>Brugernavn:</a>
        <br />
        <input type="text" asp-for="username" placeholder="Brugernavn" />
    </div>
    <div class="form-group">
        <a>Adgangskode:</a>
        <br />
        <input type="text" asp-for="password" placeholder="Adgangskode" />
    </div>
    <div class="form-group">
        <a>Email:</a>
        <br />
        <input type="text" asp-for="email" placeholder="Email" />
    </div>
    @if (Model.Symbol)
    {
        <p>Du skal have et @@ i din email</p>
    }
    @if (Model.IsNull)
    {
        <p>Et eller flere felter mangler at blive udfyldt</p>
    }
    <div class="form-group">
        <input type="submit" value="Lav Bruger" />
    </div>
</form>