@page
@model Event_application.Pages.Arrangement.Arrangement_indexModel
@{
}


<div class="row"

    <div class="col-sm"
<h1>Tour De France</h1>
    </div>



<div class="col-sm">
    <form method="post">



        <h1> Tilmeld dig nu!</h1>
        <p>Antal tilmeldte @Model.Antaltilmeldte ud af 500</p>
        <p> Her kan du tilmelde dig begivenheden</p>

        @if (Model.Signed)
        {
            <a>Du er allerede tilmeldt</a>
        }
        else if (Model.Loggedin && Model.Limit == false)
        {
            <input type="submit" value="tilmeld" class="btn btn-primary" />
        }
        else
        {
            <a>Du skal logge ind for at kunne tilmelde dig begivenheden</a>
        }

    </form>
</div>
    </div>

    








