@page
@model Event_application.Pages.Program.ArrangementProgramModel
@{
}

<h1>Vores program</h1>

<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
    }
</style>
<body>



<table style="width:100%">
    <tr>
        <th style="width:100%">Program</th>
        <th>Tid</th>
    </tr>
    <tr>
        <td>velkomst: Vi byder dig velkommen til Tour De france på Zealand</td>
        <td>10:00</td>
        
    </tr>
    <tr>
        <td>Musikteltet åbner</td>
        <td>11:00</td>
        
    </tr>
    <tr>
        <td>Tribunen åbner</td>
        <td>12:30</td>
    </tr>
    <tr>
        <td>Cyklerytterne cykler forbi mellem 14:00 - 16:00</td>
        <td>14:00</td>
        
    </tr>
    <tr>
        <td>Spiseteltet åbner</td>
        <td>16:00</td>
        
    </tr>
    <tr>
        <td>Lukketid</td>
        <td>20:00</td>
    </tr>
</table>

</body>
