@page
@model Event_application.Pages.Transport.TransportModel
@{
    <h1>Transportmuligheder</h1>

   <h2>Afgange fra København H til Roskilde St.</h2>

<ul>
  <li>København H kl. 08:00 -----> Roskilde St. 08:30</li>
  <li>København H kl. 08:30 -----> Roskilde St. 09:00</li>
  <li>København H kl. 09:00 -----> Roskilde St. 09:30</li>
  <li>København H kl. 09:30 -----> Roskilde St. 10:00</li>
  <li>København H kl. 10:00 -----> Roskilde St. 10:30</li>
</ul>  


<h2>Afgange fra Roskilde St. til København H</h2>
<ul>
 <li>Roskilde St. kl. 08:00 -----> København H 08:30</li>
  <li>Roskilde St. kl. 08:30 -----> København H 09:00</li>
  <li>Roskilde St. kl. 09:00 -----> København H 09:30</li>
  <li>Roskilde St. kl. 09:30 -----> København H 10:00</li>
  <li>Roskilde St. kl. 10:00 -----> København H 10:30</li>
</ul>  
<p> Det er muligt at tage bussen fra Roskilde St. til Zealand ved at tage bus 202A mod Musicon</p>
    
   <footer>For mere information se <a href="https://rejseplanen.dk/webapp/#!P|TP!histId|0!histKey|H10960">Rejseplanen</a></footer> 



}
