@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    h2 {
        text-align: center;
    }
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="indexpic">
            <a>
                <img src="~/zealand_bygning.jpg" alt="zealand-bygning" style="width: 100%" />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </a>
        </div>
        <div class="indexbar">
            <a>
                Her hos Zealand i Roskilde holder vi et arrangement, som revolvere rundt om Tour De France.
                Vi vil ved vores arrangement tilbyde vores deltagende et musiktelt og tribuner, samt mulighed for at købe noget mad.
                Herudover kan der tilkøbes en plads til vores VIP-lounge, hvori man også kan spise noget mad.
                Og så i løbet af dagen ville deltagerne af Tour de France komme, hvor dig som deltager ville kun se dem cyckle forbi.
            </a>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="indexbarnews">
            <h2>Nyheder</h2>
            <!--første nyhed-->
            <div class="pic">
                <a>
                    <img src="~/mad.jpg" alt="pølse med brød" style="width: 100%" />
                </a>
            </div>
            <div class="txt">
                <a>
                    Der serveres nu yderligere pølser med brød i spiseteltet! Et stk. pølse med brød ville koste 15kr, tilbehør inkluderet.
                </a>
            </div>
            <br />
            <!--anden nyhed-->
            <p class="alltxt">
                Istedet for den tidligere bestemte tid, klokken 12, vil musikteltet nu åbne klokken 11. Nu har du muligheden for at komme og høre på god musik endnu tidligere end før!
            </p>
            <br />
            <!--tredje nyhed-->
            <div>
                <p>
                    <img src="~/booking.PNG" alt="cool-text" style="width: 100%" />
                </p>
            </div>
            <div class="txt">
                <a>
                    Der kan nu bookes en plads til vores arrangement, VIP-lounge og vores P-pladser.
                </a>
            </div>
        </div>
    </nav>
</header>